<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>ElectrizArte UCR</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Construction Company Website Template" name="keywords">
        <meta content="Construction Company Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap" rel="stylesheet">

        <!-- CSS Librerias -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
        <link href="lib/animate/animate.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href="lib/slick/slick.css" rel="stylesheet">
        <link href="lib/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body>
        <div class="wrapper">



            <!-- Nav Bar Start -->
            <div class="nav-bar">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                        <a href="#" class="navbar-brand">MENU</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto">
                                <a href="index.html" class="nav-item nav-link active">Inicio</a>
                                <a href="proyectos.html" class="nav-link dropdown-toggle" data-toggle="dropdown">Proyectos</a>
                                <div class="dropdown-menu">
                                    <a href="proyectos.html" class="dropdown-item">Proyectos</a>
                                    <a href="talleres.html" class="dropdown-item">Talleres</a>
                                    <a href="herramientas.html" class="dropdown-item">Herramientas Tecnológicas</a>
                                </div>
                                <a href="accionSocial.html" class="nav-item nav-link">Acción Social</a>
                                <a href="areaArtistica.html" class="nav-item nav-link">Área Artística</a>
                                <a href="portfolio.html" class="nav-item nav-link">Radio 201</a>
                                <div class="nav-item dropdown">

                                </div>
                            </div>
                            <div class="ml-auto">
                                <a class="logo" <a href="index.html">
                                     <img src="img/logo.jpeg" alt="Logo" width="80" height="80" >
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Nav Bar End -->

            <!-- Carousel Start -->
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="img/proyectos (2).jpg" alt="Carousel Image">
                        <div class="carousel-caption">
                          <p class="animated fadeInRight">Somos proyectos artístico-tecnológicos</p>
                          <h1 class="animated fadeInLeft">ElectrizArte UCR</h1>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="img/Bateria.jpg" alt="Carousel Image">
                        <div class="carousel-caption">
                          <p class="animated fadeInRight">Somos proyectos artístico-tecnológicos</p>
                          <h1 class="animated fadeInLeft">ElectrizArte UCR</h1>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="img/Proye.jpg" alt="Carousel Image">
                        <div class="carousel-caption">
                          <p class="animated fadeInRight">Somos proyectos artístico-tecnológicos</p>
                          <h1 class="animated fadeInLeft">ElectrizArte UCR</h1>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="img/pro.jpg" alt="Carousel Image">
                        <div class="carousel-caption">
                          <p class="animated fadeInRight">Somos proyectos artístico-tecnológicos</p>
                          <h1 class="animated fadeInLeft">ElectrizArte UCR</h1>
                        </div>
                    </div>
                </div>

                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- Carousel End -->



            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Proyectos Artístico-Tecnológicos</h2>
                        </div>
                        <div class="col-12">
                            <a href="">La iniciativa Electrizarte busca generar y facilitar diversas dinámicas que mezclan el arte y la tecnología.  Estas han impulsado a las personas que participan en el espacio a producir gran variedad de dispositivos artístico-tecnológicos y creaciones artísticas, así como a formar parte de actividades interdisciplinarias entre ingeniería y arte.</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->

            <!-- About Start -->
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-6">
                            <div class="about-img">
                                <img src="img/proyectos.jpg" alt="Image">
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="section-header text-left">
                                <p>La mayoría de procesos de creación artística y tecnológica suceden en el aula 101 del edificio de Ingeniería Eléctrica, en la Ciudad de la Investigación.</p>
                                <p> Convertida en una mezcla entre taller de fabricación de prototipos, laboratorio de electrónica, sala de ensayos, espacio creativo y aula flexible. </p>
                                <p> Aquí, las personas estudiantes y profesoras que participan en Electrizarte exploran la mezcla de sus habilidades e intereses en ingeniería y arte.</p>
                                <p> Desarrollamos actividades como talleres de formación de habilidades técnicas, sesiones de diseño e implementación de dispositivos electrónicos, ensayos musicales, talleres de exploración artística y sesiones de discusión sobre temas de realidad nacional. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About Start Ends-->

            <!-- Blog Start -->
        <div class="blog">
            <div class="container">
                <div class="blog-title1 text-center">
                    <h2>Nuestros Proyectos</h2>
                </div>
                <div class="row blog-page">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="img/arpa.jpg" alt="Image">
                            </div>
                            <div class="blog-title">
                                <h3>Arpa Laser (LUMINT)</h3>
                                <a class="btn" href="img/arpa.jpg" data-lightbox="blog">+</a>
                                <a href="img/arpaL.jpg" data-lightbox="blog"></a>
                                <a href="img/arpa(2).jpg" data-lightbox="blog"></a>
                                <a href="img/arpaa.jpg" data-lightbox="blog"></a>
                            </div>
                            <div class="blog-text">
                                <p>
                                  Tubo bastantes versiones debido a problemas en construirla. Actualmente consta de un ”techo”lleno de paneles fotovoltaicos (que reciben la luz y dan una señal) y una láser que es proyectado a estos paneles, al poner la mano en una posición específica se tapan estos paneles enviando una señal al microprocesador (pequeña computadora) y este genera el sonido de una nota. Solamente funciona de noche. Cuidado con el láser.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="img/bate.jpg" alt="Image">
                            </div>
                            <div class="blog-title">
                                <h3>Bateria</h3>
                                <a class="btn" href="img/bate.jpg" data-lightbox="blog1">+</a>
                                <a href="img/Bateria.jpg" data-lightbox="blog1"></a>
                                <a href="img/bateriaProy.jpg" data-lightbox="blog1"></a>
                            </div>
                            <div class="blog-text">
                                <p>
                                  Info
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="img/bobina.jpg" alt="Image">
                            </div>
                            <div class="blog-title">
                                <h3>Bobina de Tesla</h3>
                                <a class="btn" href="img/bobina.jpg" data-lightbox="blog2">+</a>
                                <a href="img/bobin.jpg" data-lightbox="blog2"></a>
                            </div>
                            <div class="blog-text">
                                <p>
                                  Es un tipo de transformador resonante, llamado así en honor a su inventor, Nikola Tesla, quien la patentó en 1891.​ La bobina de Tesla está compuesta por una serie de circuitos eléctricos resonantes acoplados.Actualmente en reparación.                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="img/kinet.jpg" alt="Image">
                            </div>
                            <div class="blog-title">
                                <h3>Kinet</h3>
                                <a class="btn" href="img/kinet.jpg" data-lightbox="blog3">+</a>
                                <a href="img/Kinect.jpg" data-lightbox="blog3"></a>
                                <a href="img/kinec.jpg" data-lightbox="blog3"></a>
                            </div>
                            <div class="blog-text">
                                <p>
                                  Un instrumento musical con un dispositivo Kinect que detecta movimientos del cuerpo
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="img/theremin.jpg" alt="Image">
                            </div>
                            <div class="blog-title">
                                <h3>Lèremin</h3>
                                <a class="btn" href="img/theremin.jpg" data-lightbox="blog4">+</a>
                                <a href="img/therem.jpg" data-lightbox="blog4"></a>
                            </div>
                            <div class="blog-text">
                                <p>
                                  Un thèremin digital, uno de los primeros instrumentos musicales electrónicos que se controla sin necesidad de contacto físico del intérprete o thereminista con el instrumento.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="img/pantall.jpg" alt="Image">
                            </div>
                            <div class="blog-title">
                                <h3>Pantalla de LED´s</h3>
                                <a class="btn" href="img/pantalla.jpg" data-lightbox="blog5">+</a>
                                <a href="img/pantall.jpg" data-lightbox="blog5"></a>
                                <a href="img/huyan.jpg" data-lightbox="blog5"></a>
                            </div>
                            <div class="blog-text">
                                <p>
                                  Comienza con la idea de una pantalla de botellas, se usaban botellas de vidrio con LEDs adentro y se programaban para que mostraran una figura (parecido a las pantallas de los celulares, cada botella representaba un pixel), sin embargo esto era muy complicado y era demasiado grande. Entonces se usó una pantalla de acrílico para colocar los LEDs como una pantalla y se utilizó un programa para poner frases, imágenes o movimientos según lo que se deseara.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="img/kalimb.jpg" alt="Image">
                            </div>
                            <div class="blog-title">
                                <h3>Kalimba Electrónica</h3>
                                <a class="btn" href="img/kalimb.jpg" data-lightbox="blog6">+</a>
                                <a href="img/kalim.png" data-lightbox="blog6"></a>
                                <a href="img/kalim.png" data-lightbox="blog6"></a>
                            </div>
                            <div class="blog-text">
                                <p>
                                  La Kalimba es un instrumento africano que cuenta con una caja de resonancia y unas ”teclas”de metal, tiene un sonido muy bonito y suave. Nuestro compañero Salvador decidió hacer su propia Kalimba, pero que se pudiera amplificar como una guitarra. Para esto construyó la forma de la Kalimba en un bloque de madera, para las teclas usó las patitas de los rastrillos de metal y para poder amplificarla usó pastillas de guitarra. Se mantiene el sonido dulce de la Kalimba pero ahora puede ser escuchada mediante los parlantes.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="img/ukebajo.jpg" alt="Image">
                            </div>
                            <div class="blog-title">
                                <h3>Ukebajo</h3>
                                <a class="btn" href="img/ukebajo.jpg" data-lightbox="blog7">+</a>
                            </div>
                            <div class="blog-text">
                                <p>
                                  ¿Qué pasa cuando se quiere tocar bajo y ukelele al mismo tiempo? Bueno, ¡pues construimos un instrumento! Un bajo eléctrico miniatura del tamaño de un ukelele soprano. Con un pedazo de madera se hizo la forma del ukelele y se usó un mástil de un ukelele viejo. Para el sonido, pastillas de bajo eléctrico y para las cuerdas se usaron unas versiones más cortas de las cuerdas de bajo eléctrico, estas se probaron y se acomodaron de tal manera que sonarán y se pudieran afinar.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="img/keytar(1).jpg" alt="Image">
                            </div>
                            <div class="blog-title">
                                <h3>Keytar</h3>
                                <a class="btn" href="img/keytar(1).jpg" data-lightbox="blog8">+</a>
                                <a href="img/keytar.jpg" data-lightbox="blog8"></a>
                            </div>
                            <div class="blog-text">
                                <p>
                                  Durante la pandemia no nos detuvimos y par de compa˜neros empezaron a trabajar en el famoso Keytar, es este instrumento que es piano y guitarra al mismo tiempo. Desde hace tiempo queríamos uno, pero como no había plata para comprarlo, pues como buenos ingenieros que somos se decidió construirlo. Para esto se usó un teclado viejo que se desarmó y se programó con nuevos sonidos y configuraciones. Aún falta ensamblarlo, pero se está trabajando en esta parte.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog End -->

        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                      <div class="page-text">
                        <p> Además, como somos personas apasionadas por la música, arte e ingeniería no pudimos quedarnos de brazos cruzados y empezamos a hacer un poco de experimentación con YouTube, se realizó un video como campaña a quedarnos en casa, un video que explica cómo funciona la Electricidad, videos explicando el proyecto más a fondo, y por último en Verano 2020 se crearon videos semi-experimentales que representaran como nos hemos sentido durante esta pandemia. ¡No duden en ir a verlos!
                        <p>
                      </div>
                        <div class="page-header-text">
                        <A class="btn" HREF="https://www.youtube.com/channel/UCkgYOpVATtFFVNOp0EkchiA"> Canal de YouTube</A>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


                    <!-- Footer Start -->
                    <div class="footer wow fadeIn" data-wow-delay="0.3s">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-lg-3">
                                    <div class="footer-contact">
                                        <h2>Contacto</h2>
                                        <p><i class="fa fa-map-marker-alt"></i>101 Ingeniería Eléctrica, Ciudad de la Investigación, UCR.</p>
                                        <p><i class="fa fa-envelope"></i>electrizarte.ucr@gmail.com</p>
                                        <div class="footer-social">
                                            <a href="https://www.facebook.com/ElectrizarteUCR"><i class="fab fa-facebook-f"></i></a>
                                            <a href="https://www.youtube.com/channel/UCkgYOpVATtFFVNOp0EkchiA"><i class="fab fa-youtube"></i></a>
                                            <a href="https://www.instagram.com/_electrizarte_"><i class="fab fa-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>


                    <!-- Footer End -->

                    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
                </div>

                <!-- JavaScript Libraries -->
                <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
                <script src="lib/easing/easing.min.js"></script>
                <script src="lib/wow/wow.min.js"></script>
                <script src="lib/owlcarousel/owl.carousel.min.js"></script>
                <script src="lib/isotope/isotope.pkgd.min.js"></script>
                <script src="lib/lightbox/js/lightbox.min.js"></script>
                <script src="lib/waypoints/waypoints.min.js"></script>
                <script src="lib/counterup/counterup.min.js"></script>
                <script src="lib/slick/slick.min.js"></script>

                <!-- Template Javascript -->
                <script src="js/main.js"></script>
            </body>
        </html>
